body {
    background-image: url(https://img.freepik.com/premium-vector/seamless-pattern-with-paw-print-bones-brown-background-animal-print-vector-illustration_648830-158.jpg?w=2000);
    background-size: cover;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
}

form {
    background-color: rgba(1, 1, 1, 0.3);
    background-position: center;
    padding: 1em;
    border-radius: 5px;
    color: white;
}

label {
    display: flex;
    align-items: center;
    width: 100%;
}

div {
    margin: 0 auto 0.5rem auto;
    display: block;
}

h1,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 540px;
    width: 100%;
    border: 0;
    margin: 3.125rem auto 0 auto;
}

.header {
    display: block;
    padding: 0 0.625rem;
    margin-bottom: 40px;
    font-family: Poppins;
    font-size: 2em;
    color: white;
}

.text-center {
    text-align: center;
}

input[type=text],
input[type=email],
input[type=number] {
    width: 100%;
}

.dropdown {
    padding: 0;
    margin-bottom: 2em;
}

.form-group {
    margin: 0 auto 1.25rem auto;
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.input-textarea {
    width: 100%;
    min-height: 120px;
}

.submit-button {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 0.75rem;
    color: black;
    border-radius: 2px;
    cursor: pointer;
}